
    <div class="mat-elevation-z8 table-container">
        <div class="table-top-controllers">
          <span class="table-name"> Roles |</span>
          <button mat-button (click)="onAddNewRole()">Add new Role</button>
        </div>
  
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
        </mat-form-field>
  
        <mat-table [dataSource]="dataSource" matSort class="table" #mytable>
  
  
          <ng-container matColumnDef="roleName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.roleName}} </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button mat-button  [matMenuTriggerFor]="menu">More</button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="onAssignRole(element)">Add [Role Name]</button>
                <button mat-menu-item (click)="onViewPrivileges(element)">View privileges</button>
                <button mat-menu-item (click)="oViewRoleMembers(element)">View members</button>
              </mat-menu>
            </mat-cell>
          </ng-container>
  
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
  
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
  
      
  
      