:host {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: auto;

}

.stepper-container {
  width: 80%;
  height: auto;

}



.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.form {
  display: flex;
  flex-direction: column;
}

.subSystem-card{
  margin: 10px 0px;
}

.control-buttons-container{
 
  margin: 10px 0;
}
.procced-button{
  margin-left: 5px;
}