<div class="loader-container">
    <mat-progress-bar *ngIf="showLoadingEndicator" mode="indeterminate"></mat-progress-bar>
</div>
<mat-card class="card-container">

    <div class="image-container">

        <img src="assets/img/logo.png" class="header-image">
    </div>
    <div>
        <mat-card-title>Log In</mat-card-title>
        <mat-card-subtitle *ngIf="errorMessage">{{errorMessage}}</mat-card-subtitle>
    </div>

    <mat-card-content>

        <form [formGroup]="loginForm" (ngSubmit)="signIn()">
            <div class="form-field-container">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>email adddress</mat-label>
                    <input type="text" matInput formControlName="UserName">
                    <mat-error *ngIf="UserName.touched && UserName.invalid">
                        <div *ngIf="UserName.errors.required">please provide email address.</div>
                        <div *ngIf="UserName.errors.email">please provide valid email.</div>
                    </mat-error>
                </mat-form-field>

            </div>

            <div class="form-field-container">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="Password">
                    <mat-error *ngIf="Password.touched && Password.invalid">
                        <div *ngIf="Password.errors.required">please provide password.</div>
                    </mat-error>
                </mat-form-field>

                <p class="forgot-password-text" (click)="forgotPassword()">Forgot Password?</p>
            </div>

            <div class="bottom-controls-container">
                <button class="signUp-button" type="button" mat-button (click)="createAccount()">Create account</button>
                <button class="signIn-button" type="submit" mat-button
                    disabled="{{submitButtonDiabled}}">{{submitButtonText}}</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
