<mat-sidenav-container>
    <mat-sidenav #sidenav position="start" mode="over">
<!-- Side nav here -->
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary" role="heading" class="header">
            <mat-toolbar-row class="header-row">
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span> Caleni Practice | <a [routerLink]="['/patient/dashboard']" routerLinkActive="router-link-active"
                        class="router-link-active-admin-title">Patient</a> </span>

                <span class="header-remaining-space"></span>

                <div class="header-controls">
                    <ul class="header-controls-items">
                        <li>
                            <button mat-button [matMenuTriggerFor]="menu">
                                <mat-icon>person_outline</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="logOut()">
                                    <mat-icon>exit_to_app</mat-icon>
                                    Sign out
                                </button>
                            </mat-menu>

                        </li>
                    </ul>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>