<div class="mat-elevation-z8 table-container">
    <div class="table-top-controllers">
        <span class="table-name"> Dashboard</span>
    </div>

    <div class="main">
        <div class="dash-row">
            <div class="dash-control">
                <mat-card (click)="onNavigateToPsychologists()">Pyshologists</mat-card>
            </div>
            <div class="dash-control">
                <mat-card (click)="onNavigateToCentres()">Centres</mat-card>
            </div>
            <div class="dash-control">
                <mat-card (click)="onNavigateToRoles()">User Roles</mat-card>
            </div>
        </div>
    </div>
</div>