<div class="toolbar position-fixed" role="banner">
    <img [routerLink]="" width="60" alt="Logo" src="assets/img/logo.png">
    <span class="site-name">Caleni Practice</span>
    <span class="header-remaining-space"></span>
    <button class="signin" mat-raised-button (click)="onLogIn()">Log In</button>
</div>

<div class="content">
    <div class="welcome-section">
        <h1 class="welcome-text">Caleni Practice</h1>
        <button class="book-now-button" mat-raised-button (click)="onLogIn()"> Book Now </button>
    </div>
</div>

<div class="footer">
    <div class="locations">
        <div class="location">
            <H2>Johannesburg Location</H2>
            <span>
                <p>Dinoko Medical Centre</p>
                <p>1 Spekhout Avenue,</p>
                <p>Centurion</p>
                <p>Heuweloord</p>
                <p>Pretoria</p>
            </span>
        </div>

        <div class="location">
            <H2>Pretoria Location</H2>
            <span>
                <p>Cerewize Medical Center</p>
                <p>Office Park</p>
                <p>5 new Road,</p>
                <p>Midrand</p>
                <p>Johannesburg</p>
            </span>
        </div>
    </div>

    <div class="contact-details">
        <h2>Contact Details</h2>
        <span>
            <p>email: calenipractice@gmail.com</p>
            <p>Tel: (+27) 012 555 4444</p>
        </span>
    </div>

    <div class="more">
        <h2>Caleni Practice</h2>
        <span>
            <p>About us</p>
            <p>Services</p>
            <p>Contact us</p>
        </span>
    </div>
</div>
