:host{
    display: flex;
    box-sizing: border-box;
    height: 100vh;
}

.toolbar {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: #734a91;
    color: white;
    font-weight: 600;
    z-index: 1;
  }
  
  .header-remaining-space {
    flex: 1 1 auto;
  }
  
  .position-fixed {
    position: fixed;
  }